@model Shop.Models.Spaceship.RealEstateDetailsViewModel


<h1>Details</h1>
<div>
    <h4>RealEstates</h4>
    <hr />
    <dl class="row">
        <div>
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Id)
        </div>
        <div>
            <label asp-for="Address" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Address)
        </div>
        <div>
            <label asp-for="SizeSqrM" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.SizeSqrM)
        </div>
        <div>
            <label asp-for="RoomCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.RoomCount)
        </div>
        <div>
            <label asp-for="Floor" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Floor)
        </div>
        <div>
            <label asp-for="BuildingType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.BuildingType)
        </div>
        <div>
            <label asp-for="BuiltInYear" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.BuiltInYear)
        </div>
        <div>
            <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CreatedAt)
        </div>
        <div>
            <label asp-for="UpdatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.UpdatedAt)
        </div>

    </dl>
    <hr />
    <a asp-action="index" class="btn btn-primary">Index</a>
</div>
