@model IEnumerable<Shop.Models.Spaceship.RealEstateIndexViewModel>

@{
    int rowNumber = 1;
}

<div>
    <a asp-action="create" asp-controller="realestates" class="btn btn-primary">Create</a>
</div>


<form method="post">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Address</th>
                <th scope="col">SizeSqrM</th>
                <th scope="col">RoomCount</th>
                <th scope="col">Floor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var realEstate in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@realEstate.Address</td>
                    <td>@realEstate.SizeSqrM</td>
                    <td>@realEstate.RoomCount</td>
                    <td>@realEstate.Floor</td>
                    <td>
                        <a asp-action="details" asp-controller="realestates" asp-route-id="@realEstate.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="realestates" asp-route-id="@realEstate.Id" class="btn btn-outline-primary">Update</a>
                        <a asp-action="delete" asp-controller="realestates" asp-route-id="@realEstate.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>

                rowNumber += 1;
            }
        </tbody>
    </table>
</form>